# Entorno virtual
venv/
.venv/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de configuración local
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log